body{
    background-image:url(/invitation-brief/images/bG-signup.jpg);
    font-family: "Poppins";
}
.wrap{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    margin-top: 100px;
}
h2{
    text-align: center;

}

 .txt{
    width: 22em !important;
    font-size: 1em;
    font-weight: bold;
    color: red;
}

input[type=text],input[type=password]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
}

input[type=submit]{
width: 100%;
box-sizing: border-box;
padding: 10px 0;
margin-top: 30px;
outline:none;
border: none;
background: rgb(78, 174, 230);
opacity: 0.7;
border-radius: 7px;
font-size: 20px;
color: #fff;


}
input[type=submit]:hover{

    background-image:linear-gradient(to right,#FB7B30,#A831A5) ;
    opacity: 0.7;
}